/*
Theme Name: Markab Theme
Theme URI: https://gitlab.com/zagur/MarkabTheme
Author: Jesús Camacho
Author URI: http://www.portallinux.es
Description: Tema principal para la web sobre Software Libre y GNU/Linux PortalLinux.es
Version: 0.1
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Wordpress, Free Software, GNU/Linux, software libre.
Text Domain: portallinux
GitLab Theme URI: https://gitlab.com/zagur/MarkabTheme
GitLab Branch: master
Template version: 0.1
*/

/*
+ ADD FONTS
+ GLOBAL
+ CONTENT
+ CATEGORY
+ HEADER
+ NAVBAR
+ SINGLE
+ NAVIGATION PAGE
+ NAVIGATION POST
+ SHARE CONTENT
+ AUTHOR
+ COMMENTS
+ SIDEBAR RIGHT
+ SIDEBAR FOOTER
+ FOOTER
+ 404 ERROR
+ COOKIES
+ OTHERS
+ RESPONSIVE
+ PRINT STYLE
*/

/* ADD FONTS */
#wpadminbar{display: none;}

@font-face {
    font-family: 'cc-icons';
    src: url('fonts/cc/cc-icons.eot');
    src: local('cc-icons'),
    url('fonts/cc/cc-icons.svg') format('svg'),
    url('fonts/cc/cc-icons.otf') format('opentype'),
    url('fonts/cc/cc-icons.woff') format('woff'),
    url('fonts/cc/cc-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */
body {
    color: #202020;
    background-color: #202020;
    word-wrap: break-word;
    font-family: "Voltaire", "Open Sans", sans-serif!important;
    line-height: 1.7;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "News Cycle", "Open Sans", sans-serif;
}

a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

a:hover,
a:focus {
    color: #472E6B;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
}

p {
    text-align: justify;
    color: #000;
    line-height: 1.8em;
    font-size: 16px;
}

blockquote {
	border-left: 2px solid #3498DB;
	text-align: justify;
}

h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 13px;}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:  content-box;
  box-sizing:     content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}

span {
    color: #222;
}

.tooltip {
    width: 200px;
}


/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Clearing floats */
.clear:before,
.clear:after,
.gallery:before,
.gallery:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.home-widget-area:before {
  content: '';
  display: table;
}

.clear:after,
.entry-content:after,
.gallery:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.home-widget-area:before {
  clear: both;
}


/* CONTENT */
#content {
    margin-top: 20px;
    background-color: #F9F8E4;
}

.contentPost {
    margin-top: 50px!important;
}

#primary {
    margin-top: -20px;
    padding: 0;
}

.thumb img {
    height: 225px;
    width: 100%;
}

p.excerpt {
    font-size: 14px;
    padding-right: 25px;
}

article img.img-responsive {
    width: 100%;
    max-height: 450px;
}

.home .square,
.home .post-inner-content {
    background-color: #fff;
    border-right: 1px solid rgba(32, 32, 32, 0.1);
    border-top: 1px solid rgba(32, 32, 32, 0.1);
}

.time {
    background-color: #202020;
    max-width: 75px;
    min-height: 69px;
    padding: 10px;
    text-align: center;
}

.time span {
    color: #FFF;
}

.entry-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 64px;
    padding: 24px;
    position: relative;
    text-align: left;
    transition: all 0.5s ease 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-title a {
    color: #202020;
}

.page-header {
    border-bottom: 0 none;
    margin-top: 0;
    padding-bottom: 0;
}
.entry-header, .page-header {
    margin: 0;
}

.edit-post {
    background-color: #202020;
    bottom: 265px;
    color: #fff !important;
    left: 300px;
    padding: 6px;
    position: absolute;
    transition: 1s all;
}

.edit-post:hover {
    background-color: #222;
    transition: 1s all;
}

.category .edit-post,
.search .edit-post {
    bottom: 240px;
}

.edit-post span,
.edit-link a {
    color: #FFF;
}

.home .post-inner-content,
.search .post-inner-content {
    padding: 4px 0px;
    background-color: #202020;
    border: none;
}

.post-inner-content {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 4px 25px;
}

.entry-meta {
    color: #222;
}

h1.page-title span {
    color: #FFF;
}

/* CATEGORY */

.resume {
    background-color: #fff;
    border-bottom: 2px solid #202020;
    max-height: 208px;
    min-height: 200px;
    padding: 10px 20px;
}

h2.cat_name,
h1.page-title {
    background-color: #222;
    letter-spacing: 4px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}

.archive .post-inner-content {
    padding: 4px 10px!important;
}

/* HEADER */
header.parallax-container {
    height: 280px;
}

.single .parallax-container {
    margin-top: 80px;
}


.site-title,
.site-description {
    color: #FFF;
    text-align: center;
    padding: 50px;
}

.site-title {
    font-family: "News Cycle";
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

.site-description {
    font-family: Voltaire;
}

/* NAVBAR */
.navbar {
    min-height: 80px;
    background-color: #202020;
    border-radius: 0px;
    z-index: 99999;
    transition: .5s all;
}

.navbar-small { /* when scroll */
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 64px;
    transition: .5s all;
}

.navbar-small .navbar-header {
    padding: 5px;
    transition: .5s all;
}

.navbar-small ul.nav {
    padding: 6px;
    transition: .5s all;
}

ul.nav {
    padding: 14px;
    transition: .5s all;
}

.navbar-header {
    padding: 15px;
    transition: .5s all;
}

.navbar-nav li {
    background-color: transparent;
    font-family: "Josefin Sans";
    font-size: 15px;
    letter-spacing: 2px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #202020;
    color: #F1F1F1;
}

.navbar span:first-child {
    color: #F1F1F1;
}

.navbar-brand {
    font-family: "Josefin Sans";
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}

.first {
    color: #F1F1F1;
}

.second {
    color: #472E6B;
}

.navbar-brand:hover span:first-child {
	color: #472E6B;
	transition: .5s all;
}

.navbar-brand span {
	transition: .5s all;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.navbar-right {
    margin-right: 0px;
}

.sub-menu-columns ul.dropdown-menu {
	float: left;
	min-width: 300px;
}

.sub-menu-columns ul.dropdown-menu li {
	width: 50%;
	float: left;
    position: relative;
}

.dropdown-menu > li > a {
    padding: 6px 20px;
}

button.buscador {
    height: 34px;
    margin-bottom: 8px;
    margin-top: 5px;
}

.navbar-toggle {
    border: none;
}



/* SINGLE */
.post-title {
    background-color: #202020;
    color: #f9f8e4;
    font-family: "News Cycle";
    font-size: 38px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px 25px;
    text-align: center;
}

.post-inner-title {
    background: #202020 none repeat scroll 0 0;
    border-top: 5px solid #472E6B;
}

.post-inner-info {
    background-color: #472E6B;
    padding: 5px 25px;
}

.post-inner-info a,
.post-inner-info span,
.post-inner-info li {
    color: #FFF;
    text-transform: uppercase;
}

.info {
    color: #FFF;
    padding: 0;
    margin: 0;
}

.home .info li {
    display: inline;
}

.info li {
    list-style: outside none none;
    margin-right: 18px;
}

.info li span,
.read-more a i {
    color: #FFF;
    margin-right: 5px;
}

.entry-content {
    margin-bottom: 25px;
}

.entry-content h1 {
    font-size: 38px;
}

.entry-content h2 {
    font-size: 36px;
}

.entry-content h3 {
    font-size: 34px;
}

.entry-content h4 {
    font-size: 32px;
}

.entry-content h5 {
    font-size: 30px;
}

.entry-content h1:after {
    content: ""; position: absolute; bottom: -10px; left: -3px;
}

.entry-content h1:after {
    right: -3px; height: 4px;
    background: #472E6B; /* Old browsers */
    background: -moz-linear-gradient(left,  #472E6B 10%, #ffffff 10%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(10%,#472E6B), color-stop(10%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #472E6B 10%,#ffffff 10%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #472E6B 10%,#ffffff 10%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #472E6B 10%,#ffffff 10%); /* IE10+ */
    background: linear-gradient(to right,  #472E6B 10%,#ffffff 10%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.entry-content a {
    color: #472E6B;
}

.content-article {
    background-color: #fff;
    margin-bottom: 0!important;
    padding: 25px 25px;
}

.post-inner-license {
    background-color: #c0392b;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
}

.post-inner-license::before {
    background-color: #202020;
    content: "Licencia";
    font-size: 12px;
    margin-right: 0px;
    margin-top: -10px;
    padding: 2px 8px;
    position: absolute;
    right: 0;
    font-weight: bold;
}

.post-inner-license p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}

.post-inner-license p span {
    color: #fff;
    font-size: 35px;
    margin-left: 4px;
    margin-top: 10px;
}

.tagcloud {
    margin-top: 10px;
}

.tagcloud span {
    margin-right: 10px;
}

.tagcloud > a {
    background-color: #222;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
}

.tagcloud > a:hover {
    background-color: #472E6B;
}

.alert,
.alert p {
    border-radius: 0px;
    border: none;
    color: #FFF;
}

.alert-success {
    background-color: #2ecc71;
}

.alert-info {
    background-color: #3498db;
}

.alert-warning {
    background-color: #e67e22;
}

.alert-danger {
    background-color: #e74c3c;
}

.alert-black {
    background-color: #202020;
}


.icon-social {
    color: #fff;
    padding: 16px;
}

/* NAVIGATION PAGE */

.navigation {
    text-align: center;

}

/* NAVIGATION POST */

.single .post-inner-content {
    margin-bottom: 0;
}

/* SHARE CONTENT */
ul.share-buttons{
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.share-buttons li{
    display: inline;
    padding: 16px;
}

ul.share-buttons img{
    width: 32px;
}

.share-post .dropdown-menu a:hover {
    background-color: none;
}


/* AUTHOR */
.post-author {
    background-color: #202020;
    padding: 20px 34px;
    min-height: 196px;
}

.triangulo {
    border-color: #472E6B transparent transparent #472E6B;
    border-style: solid;
    border-width: 50px;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.post-author .fa-user {
    color: #fff;
    font-size: 25px;
    left: 20px;
    position: absolute;
    text-align: left;
    top: 20px;
    width: 0;
    z-index: 101;
}

.post-author-content {
    margin-left: 65px;
}

.post-inner-header {
    background-color: #202020;
}

.author-name {
    font-family: "News Cycle";
    text-transform: uppercase;
}

.author-description {
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

.secondary-content-box {
    background-color: #222 !important;
    padding: 0;
    border-top: 5px solid #202020;
}

.post-info {
    background: #222 none repeat scroll 0 0;
    min-height: 196px;
    padding: 30px;
}

.post-inner-content .row {
    margin: 0;
}

.author-bio {
    padding: 12px 25px 20px 0;
}

.social-author {
    text-align: center;
}

.social-author li {
    display: inline;
}

ul.navnap {
    list-style: outside none none;
    margin: 6px;
}

ul.navnap li {
    padding: 5px;
    text-align: center;
    width: 40px;
}

ul.navnap li a span {
    color: #FFF;
}

.comment-author .fn, .author-bio h4, .comment-reply-title {
    font-weight: 700;
    text-transform: uppercase;
}
.author-bio-content h4 {
    font-size: 14px;
    margin-top: 0;
}

.author-social {
    background-color: #472E6B;
}

.author .post {
    margin-bottom: 30px;
}

.author .post-inner-content {
    margin-bottom: 0;
}

.author .author-description {
    padding: 25px;
    color: #202020;
}

.author .list-social {
    background-color: #472E6B;
    height: 40px;
    width: 100%;
}

.author-post-title {
    text-transform: capitalize;
}

/* COMMENTS */
.comments-title {
    background-color: #222;
    border-bottom: 10px solid #472E6B;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.comments-title span {
    color: #FFF;
}


.bypostauthor .comment-body::after {
    background: #202020;
    color: #fff;
    content: "Autor";
    font-size: 12px;
    padding: 1px 10px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
}

.edit-comment {
    background-color: #202020;
    padding: 1px 10px;
    position: absolute;
    right: 23px;
    top: -25px;
    transition: 1s all;
}

.edit-comment:hover {
    background-color: #472E6B;
    transition: 1s all;
}

.edit-comment span,
.edit-comment a {
    color: #FFF;
}

.pingback {
    background-color: #222;
    color: #fff;
    padding: 10px;
}

#pings {
    margin: 10px;
    text-transform: uppercase;
    border-bottom: 5px solid #472E6B;
}

.pinglist li a {
    color: #FFF;
}

.pinglist li a:hover {
    color: #472E6B;
}

.comment-list, .children {
    list-style: none;

}

.comment-list {
    padding-left: 0;
}

.comment-author.vcard {
    font-size: 12px;
}

.comment-text h4 {
    text-transform: uppercase;
}

.comment-body {
    border-left: 4px solid #472E6B;
    margin: 2em 0 0;
    overflow: hidden;
    padding: 25px 25px 25px 25px;
    position: relative;
    background-color: #fff;

}

.comment-reply-link {
    background-color: #472E6B;
    color: #fff;
    float: right;
    padding: 10px 15px;
    font-weight: bold;
}

.commetsClosed {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #c0392b;
    color: #FFF;
    padding: 15px;
}

.commetsClosed span {
    color: #FFF;
}

.vcard .avatar {
    border-radius: 2px;
    left: 20px;
    top: 20px;
}

time a {
    color: #bdc3c7;
}

.comment-reply-title {
    border-bottom: 5px solid;
}

.input-form-comment {
	background: #111;
	border: 2px solid #333;
	border-radius: 0;
	color: #fff;
	letter-spacing: 0.1em;
	padding: 15px;
	transition: all 0.2s ease-out 0s;
    width: 100%;
}

.textarea-comment {
    background: #202020;
    border: 2px solid #333;
    border-radius: 0;
    color: #fff;
    letter-spacing: 0.1em;
    padding: 15px;
    transition: all 0.2s ease-out 0s;
	border-top: none;
}

.nav-previous, .nav-next {
	padding: 15px;
	width: 50%;
	float: left;
    min-height: 78px;
}

.nav-previous a, .nav-next a {
	padding: 15px 0px;
	min-height: 100px;
}

.nav-previous:hover,
.nav-next:hover {
	background-color: #1A1A1A;
    color: #FFF!important;
}

/*.nav-links {
	border-top: 4px solid #222;
}*/

#submit {
	width: 100%;
	text-align: right;
	font-weight: 700;
	letter-spacing: 0.3em;
	outline: medium none;
    -moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-border-color: #222;
	-webkit-border-color: #222;
	border-color: #222 #222;
	border-image: none;
	border-style: none solid solid;
	border-width: medium 2px 2px;
}

#submit,
.nav-previous, .nav-next {
	background: #202020;
	color: #fff;
	padding: 15px;
	text-transform: uppercase;
	transform: translateY(-5px);
	transition: all 0.2s ease-out 0s;
	border-radius: 0;
}

#submit:hover {
    background: #1a1a1a;
}

.comment-reply-link:hover {
    color: #FFF;
}

/* SIDEBAR RIGHT */
#secondary a {
    color: #202020;
}

#secondary .widget {
    margin-bottom: 25px;
}

#secondary .widget > h3 {
    background-color: #472E6B;
    color: #f9f8e4;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
}

.widgets-tests {
    background-color: #fff;
}

.textwidget {
    margin: 20px 0;
}

.widget > .entry-title {
    background-color: #FFF;
}

/* SIDEBAR FOOTER */
#footer-area {
    background-color: #111;
}

#footer-area img {
    padding: 20px;
}

.home .footer-inner {
    display: none;
}

.footer-inner {
    color: #FFF;
    min-height: 250px;
}

.footer-inner a {
    color: #FFF;
}

#footer-area .footer-widget-area {
    overflow: hidden;
    padding: 40px 0 20px;
}

/* FOOTER */
.home #colophon {
    position: fixed;
}

#colophon {
    background-color: #202020;
    bottom: 0;
    width: 100%;
    padding: 6px;
    display: none;
}

#colophon,
#colophon a {
    color: #FFF;
}

.social-list {
    position: absolute;
    padding: 10px;
}

.social-network {
    margin: 0;
    text-align: center;
    padding: 0px;
}

.social-network > li {
    display: inline-block;
}

.social-network li a {
    border-radius: 3px;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    list-style: outside none none;
    margin-bottom: 0px;
    margin-right: 5px;
    text-align: center;
    transition: background-color 0.5s ease 0s;
    width: 30px;
    color: #FFF;
}

.social-network li a.tw:hover {
    color: #00aced;
}

.social-network li a.fb:hover {
    color: #3b5998;
}

.social-network li a.gp:hover {
    color: #dd4b39;
}

.social-network li a.ins:hover {
    color: #125688;
}

.social-network li a.gh:hover {
    color: #333;
}

.social-network li a.tg:hover {
    color: #2BA4DF;
}

.social-network li a.rss:hover {
    color: #ff9900;
}

.social-network li a.ccs:hover {
    color: #94C309;
}

.themeName,
.copyright {
    font-size: 13px;
    text-align: right;
}

.themeName {
    float: right;
    padding: 10px;
}

.copyright a {
    padding: 10px;
    float: left;
}


#backtotop {
    display: none;
    float: left;
    outline: medium none;
    padding: 10px 10px;
    transition: all .5s ease 0s;
}

#backtotop span {
    color: #FFF;
    transition: all .5s;
}

#backtotop:hover span {
    color: #472E6B;
    transition: all .5s;
}

footer {
    background-color: #1a1a1a;
    display: table;
    height: 100px;
    padding: 0 40px;
    width: 100%;
}

footer .copyleft {
    color: #555;
    float: none;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin-top: 45px;
    text-align: center;
    text-transform: uppercase;
    font-family: "News Cycle";
}
.copyleft {
    margin-left: auto;
    margin-right: auto;
}

/* 404 ERROR */
.h3error {
    text-transform: uppercase;
}

/* COOKIES */
.single .cookies,
.search .cookies {
    display: none;
}

.cookies {
    bottom: 0;
    height: 80px;
    margin-bottom: 57px;
    position: fixed;
    right: 0;
    width: 80px;
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
    border-right: 40px solid #D91E18;
    border-bottom: 40px solid #D91E18;
}

.cookies span {
    color: #fff;
    padding: 8px;
}

.single .cookies {
    margin-bottom: 0px;
}

/* OTHERS */
#pseudomenu {
    height: 100px;
}

#box_animate {
    background-color: #141414;
    border-bottom: 4px solid #005797;
    display: none;
    height: 196px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#box_animate .form-control {
    background-color: #202020;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    font-size: 30px;
    height: 80px;
    margin: 56px 0;
}

#box_animate .btn {
    border-radius: 0px;
    border: none;
    padding: 7px 12px;
}

.cuboblog {
    font-size: 30px;
    max-height: 100px;
    min-height: 90px;
    padding: 34px;
    text-align: center;
    text-transform: uppercase;
}

#searchform {
    margin: 0 auto;
    width: 80%;
}

blockquote.twitter-tweet {
    background-color: #0074a2;
    font-weight: bold;
    padding-top: 30px;
    border: none;
}

blockquote.twitter-tweet p,
blockquote.twitter-tweet a {
    color: #FFF;
}

blockquote.twitter-tweet:before{
    background: #222 none repeat scroll 0 0;
    color: #FFF;
    content: "Tweet";
    font-size: 12px;
    margin-right: 25px;
    margin-top: -30px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}

.home .christmas {
    bottom: 52px;
}

.christmas {
    bottom: -5px;
    left: 2px;
    position: fixed;
}
/* OTHERS: Trending Articles */
.trending-articles {
    background: #222 none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 100%;
    z-index: 100;
}

.trending-articles ul {
    list-style: outside none none;
}


.trending-articles li.firstlink {
    border: medium none;
    color: #472E6B;
}

.trending-articles li:last-child {
    border: medium none;
}

.trending-articles li {
    border-right: 1px solid #7d7d7d;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 10px 0 9px;
    padding: 0 8px;
    text-transform: uppercase;
}

.trending-articles li a {
    color: #FFF;
    display: block;
}

/*form p:last-child {
    display: none;
}*/

/* BOOTSTRAP */


/* RESPONSIVE */
@media (max-width: 1200px) {
    .edit-post {
        left: 233px;
    }
}

@media (max-width: 1084px) {
    #secondary {
        padding: 0;
    }

    .footer-inner, .christmas,
    .cookies, #colophon .copyright,
    #colophon .themeName {
        display: none;
    }

    .footer-inner {
        margin-bottom: 0px;
    }

    .home article {
        float: left;
        width: 50%;
    }

    .post_date,
    .post_categories {
        width: 50%;
        float: left;
    }

    .thumb img {
        width: 100%;
    }

    .author-bio {
        padding: 25px;
    }

    .nextandPrevious {
        display: none;
    }

    .author-social {
        background-color: transparent;
    }
    .num-comments {
        display: none;
    }

}

@media (max-width: 990px) {
    #secondary {
        display: none;
    }
    #primary {
        float: none!important;
    }
    .edit-post {
        left: 640px;
    }
    .category .edit-post,
    .search .edit-post {
        bottom: 210px;
    }
}

@media (max-width: 760px) {
	.sub-menu-columns ul.dropdown-menu {
		float: left;
		min-width: 400px;
	}
    .edit-post {
        display: none;
    }

	.sub-menu-columns ul.dropdown-menu li {
		width: 50%;
		float: none;
		min-height: 1px;
	    position: relative;
	}

    a#backtotop {
        bottom: 0px;
        left: 0px;
    }

    .edit-comment {
        top: -110px;
    }

    .trending-articles {
        display: none;
    }

    #primary > main,
    .single #primary,
    .single #secondary,
    .search #secondary,
    .author #secondary {
        margin-top: 0px;
    }

}

@media (max-width: 590px) {
    .home article {
        float: inherit;
        width: 100%;
    }

    .thumb img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #content {
        padding: 0;
    }

    #box_animate {
        top: inherit;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }
    #searchform {
        width: 100%;
    }
    .social-network li a {
        height: 28px;
        width: 28px;
        line-height: 28px;
    }
}

@media all and (max-width: 600px){
	#page {
		width:100%;
		height:auto;
	}
}

/* PRINT STYLE */
@media print {
body {
    background:white;
    font-size:10pt;
    margin:0 }
#sidebar { display:none }
#header { height:75px }
#content{ margin-left:0;
     float:none;
     width:auto }
.demo .red { color:black;
     font-weight:bold }
#content a { font-weight:bold;
     color:#000066;
     text-decoration:underline }
#content{ margin-left:0;
     float:none;
     width:auto }
#footer, .ad { display:none }
h1, h2, h3, h4, h5, h6 { page-break-after:avoid;
     page-break-inside:avoid }
h3 { margin-left:10px;
     margin-bottom:0px;
     padding-bottom:0px }
blockquote, table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }
img { display: none;}
.right { float: right; }
.left { float: left }
img { page-break-inside:avoid;
     page-break-after:avoid; }
}
